$env.config.buffer_editor = "nano"
# Add pixi
$env.path ++= ["/home/james/.pixi/bin"]
# Add Oh My Posh and other local binaries
$env.path ++= ["/home/james/.local/bin"]
# Add cargo bin
$env.path ++= ["/home/james/.cargo/bin"]
# Add starship
# mkdir ($nu.data-dir | path join "vendor/autoload")
# starship init nu | save -f ($nu.data-dir | path join "vendor/autoload/starship.nu")
$env.STARSHIP_CONFIG = "/home/james/.config/starship.toml"
#source ~/.oh-my-posh.nu
$env.POSH_THEMES = "/home/james/.cache/oh-my-posh/themes"
# Add vcpkg
$env.VCPKG_ROOT = "/home/james/Code/vcpkg"
$env.path ++= ["/home/james/Code/vcpkg"]
# Starship
#mkdir ($nu.data-dir | path join "vendor/autoload")
#starship init nu | save -f ($nu.data-dir | path join "vendor/autoload/starship.nu")